{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <section>
        <header class="entry-header">
            <h1>{{ .Title | markdownify }}</h1>
        </header>
        <div class="entry-content">
            {{ .Content | markdownify }}
        </div>
        <footer class="entry-footer">
            {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
        </footer>
    </section>
    <section>
        <img class="logo" src="img/logo-bg.png" alt="Blog Logo" draggable="false" height="{{ .imageHeight | default 250 }}" width="{{ .imageWidth | default 250 }}">
    </section>
</article>
{{- end -}}
